@import 'full-page-background', 'bottom-footer';

// remove page margin
html, body { margin: 0; }
body { padding: 0 1em; }

// align page in small window
html {
  min-width: 552px;
}

// background
body {
  @include full-page-background("./../image/Jet-Lancer_Discord-Invite-Screen.png", #0063db);
  
  @media (orientation: portrait) {
    & {
      // let the lancer positioned in the screen
      background-position-x: 86%;
    }
  }
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

a:link, a:hover, a:visited {
  color: inherit;
}

h1 {
  color: white;
  text-align: center;
}

header {
  div:last-child {
    margin-bottom: 1.34em;
  }
}

footer {
  font-size: 0.8em;
  margin: 2rem 0 0.5rem;
  text-align: center;
  address {
    font-size: 0.8em;
  }
}

canvas.pixelated-on-zoomed-view {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

#container {
  margin: auto;
  text-align: center;
  & > div {
    display: inline-block;
    vertical-align: middle;
  }
}
