@import 'iro-color-picker';

$text-input-height: 1rem;
$text-input-border-width: 2px;
$border-color: #0063db;

.iro-style-text-input {
  font-family: monospace;
  width: 4.5em;
  height: $slider-height - 2 * $text-input-border-width;
  border-radius: $slider-height - 2 * $text-input-border-width;
  border-color: $border-color;
  padding: 0 0.5em;
}

#colour-picker {
  margin-right: 1em;
  @media (max-width: 960px) {
    & {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
  label {
    display: block;
    margin: 0 0 $slider-margin;
  }
  span {
    font-family: monospace;
    display: inline-block;
    text-align: right;
    width: 2em;
  }
  
  #text-input {
    text-align: right;
    height: $slider-height;
    margin: 0 0 $slider-margin;
  }
  #slider-container, #slider-text-display {
    // ensure these two are vertically aligned in the same parent
    display: inline-block;
    vertical-align: top;
  }
  #slider-text-display {
    input {
      display: inline-block;
      text-align: right;
    }
  }
}
